<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post">
    <label value="Name:"></label>
    <input type="text" name="cheeseName" value=""/>
    <label value="Description"></label>
    <input type="text" name="description" value="" />
    <input type="submit" value="Add Cheese" />
</form>
<span th:if="${errors}" th:text="${errors.get(cheeseNameError)}">cheeseNameError</span>
</body>
</html>