<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">>
</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h1><span>Edit Cheese:</span>
    <span th:text="${cheese.name}">name</span>
    <span>(id=</span><span th:text="${cheese.cheeseId}"></span>
    <span>)</span>
</h1>

<form method="post" style="max-width:600px;" action="/cheese/edit" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}"/>
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form=group">
        <label th:for="type">Type</label>
        <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}"
                    th:selected="${cheeseType} == *{type.name}" >
            </option>
        </select>
    </div>
    <div class ="form-group" >
        <label th:for="rating">Rating</label>
        <input class="form-control" th:field="*{rating}" />
        <span th:errors="*{rating}" class="error"></span>
    </div>
    <input type="hidden" th:value="*{cheeseId}" name="cheeseId" />
    <input type="submit" value="Edit Cheese" />
</form>

</body>
</html>