<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post">
    <div th:each="cheese : ${cheeses}" class="checkbox">
        <input type="checkbox" name="cheeseIds" th:id="${cheese.cheeseId}" th:value="${cheese.cheeseId}"/>
        <label th:for="${cheese.cheeseId}" th:text="${cheese.getCheeseName()}"></label>
    </div>
    <input type="submit" value="Remove Cheese" />
</form>

</body>
</html>